body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

.ui.header.segment {
  background-color: #1a2533;
  height: 100px;
  color: white;
  border-radius: 0;
}

/* .ui.inverted.header {
  color: #edddd1;
} */
.ui.footer.segment {
  border-radius: 0;
  background-color: #1a2533;
  margin: 7em 0em 0em;
  padding: 5em 0em 0em;
  height: 50px;
  color: white;
  position: relative;
  bottom: 0;

  width: 100%;
}

.login.column {
  max-width: 450px;
  margin-top: 50px;
}

.ui.huge.primary.button {
  /* background-color: #c5d5ea; */
  background-color: #1a2533;
}

.ui.huge.primary.button:hover {
  background-color: #404b5a;
}

.ui.small.inverted.popup {
  background-color: #404b5a;
}

.ui.inverted.form {
  background: #404b5a;
}
.ui.inverted.segment {
  background: #404b5a;
}

.ui.vertical.masthead.center.aligned.segment {
  border-bottom: none;
}

.ui.vertical.stripe.segment {
  border-bottom: none;
}

.ui.container.top-margin {
  margin-top: 25px;
}

.top-margin {
  margin-top: 50px;
}

.bottom-margin {
  margin-bottom: 1em;
}

.margin-auto {
  margin: auto;
}

.ui.button {
  margin: 15px;
}

.ui.divider {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

i.window.close.icon {
  margin: 10px;
}

.ui.raised.container.map.segment {
  min-height: 50vh;
}

.rbc-toolbar {
  font-size: 16px;
}
.rbc-toolbar-label {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .rbc-toolbar {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rbc-toolbar-label {
    order: 5;
    padding: 5px;
    margin: 5px;
    justify-content: center;
  }

  .rbc-btn-group {
    margin: 5px;
  }

  .rbc-event {
    background-color: #dd7230;
  }

  div.rbc-event.rbc-selected {
    background-color: #1a2533;
  }

  .rbc-event-content {
    font-size: 0.75em;
  }

  .ui.form.fields {
    flex-wrap: nowrap;
  }

  .ui.slider.checkbox label {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 767px) {
  .rbc-event {
    background-color: #dd7230;
  }

  div.rbc-event.rbc-selected {
    background-color: #1a2533;
  }

  .rbc-event-content {
    font-size: 0.75em;
  }
}

.chat-window {
  height: 40vh;
  overflow: scroll;
  visibility: visible;
}

.ui.medium.centered.image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ui.inverted.header {
  margin-top: 10px;
}

.form-label {
  margin: 1em;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.Demo__suggestion-icon {
  margin-right: 8px;
}

.Demo__search-bar-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto 0;
}

.Demo__search-input-container {
  position: relative;
}

.Demo__search-input,
.Demo__search-input:focus,
.Demo__search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.Demo__clear-button,
.Demo__clear-button:active,
.Demo__clear-button:focus {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: #999;
}

.autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  color: #000000;
  font-size: 1em;
}

.suggestion-item--active {
  background-color: #fafafa;
  color: #000000;
  text-align: left;
  font-size: 1em;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.dropdown-footer-image {
  display: inline-block;
  width: 100px;
}

.spinner {
  color: #18bc9c;
  font-size: 30px;
}

.Demo__error-message {
  color: red;
}

.geocode-result-header {
  font-size: 20px;
  color: #222222;
}

.googlelogocontainer: {
  text-align: right;
  padding: 1px;
  background-color: #fafafa;
}
,
  .googlelogoimage: {
  width: 100;
}

@media (max-width: 480px) {
  .autocomplete-container {
    text-align: left;
  }
}

/*--- Red ---*/

.ui.red.labels .label,
.ui.red.label {
  background-color: #af1b3f !important;
  border-color: #af1b3f !important;
  color: #ffffff !important;
}

/* Link */
.ui.red.labels .label:hover,
a.ui.red.label:hover {
  background-color: #d01919 !important;
  border-color: #d01919 !important;
  color: #ffffff !important;
}

/* Corner */
.ui.red.corner.label,
.ui.red.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */
.ui.red.ribbon.label {
  border-color: #b21e1e !important;
}

/* Basic */
.ui.basic.red.label {
  background-color: none #ffffff !important;
  color: #db2828 !important;
  border-color: #db2828 !important;
}
.ui.basic.red.labels a.label:hover,
a.ui.basic.red.label:hover {
  background-color: #ffffff !important;
  color: #d01919 !important;
  border-color: #d01919 !important;
}

/*--- Orange ---*/

.ui.orange.labels .label,
.ui.orange.label {
  background-color: #dd7230 !important;
  border-color: #dd7230 !important;
  color: #ffffff !important;
}

/* Link */
.ui.orange.labels .label:hover,
a.ui.orange.label:hover {
  background-color: #f08700 !important;
  border-color: #f08700 !important;
  color: #ffffff !important;
}

/* Corner */
.ui.orange.corner.label,
.ui.orange.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */
.ui.orange.ribbon.label {
  border-color: #cf590c !important;
}

/* Basic */
.ui.basic.orange.label {
  background-color: none #ffffff !important;
  color: #f2711c !important;
  border-color: #f2711c !important;
}
.ui.basic.orange.labels a.label:hover,
a.ui.basic.orange.label:hover {
  background-color: #ffffff !important;
  color: #f26202 !important;
  border-color: #f26202 !important;
}

/*--- Green ---*/

.ui.green.labels .label,
.ui.green.label {
  background-color: #73937e !important;
  border-color: #73937e !important;
  color: #ffffff !important;
}

/* Link */
.ui.green.labels .label:hover,
a.ui.green.label:hover {
  background-color: #1b998b !important;
  border-color: #1b998b !important;
  color: #ffffff !important;
}

/* Corner */
.ui.green.corner.label,
.ui.green.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */
.ui.green.ribbon.label {
  border-color: #198f35 !important;
}

/* Basic */
.ui.basic.green.label {
  background-color: none #ffffff !important;
  color: #21ba45 !important;
  border-color: #21ba45 !important;
}
.ui.basic.green.labels a.label:hover,
a.ui.basic.green.label:hover {
  background-color: #ffffff !important;
  color: #16ab39 !important;
  border-color: #16ab39 !important;
}

/*--- Blue ---*/

.ui.blue.labels .label,
.ui.blue.label {
  background-color: #1a2533 !important;
  border-color: #1a2533 !important;
  color: #ffffff !important;
}

/* Link */
.ui.blue.labels .label:hover,
a.ui.blue.label:hover {
  background-color: #1678c2 !important;
  border-color: #1678c2 !important;
  color: #ffffff !important;
}

/* Corner */
.ui.blue.corner.label,
.ui.blue.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */
.ui.blue.ribbon.label {
  border-color: #1a69a4 !important;
}

/* Basic */
.ui.basic.blue.label {
  background-color: none #ffffff !important;
  color: #2185d0 !important;
  border-color: #2185d0 !important;
}
.ui.basic.blue.labels a.label:hover,
a.ui.basic.blue.label:hover {
  background-color: #ffffff !important;
  color: #1678c2 !important;
  border-color: #1678c2 !important;
}
