body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.container.top-margin {
  margin-top: 25px;
}

.top-margin {
  margin-top: 25px;
}

.margin-auto {
  margin: auto;
}

.ui.button {
  margin: 15px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

.window.close.icon {
  margin: 10;
}

.ui.raised.container.map.segment {
  min-height: 475px;
}

@media screen and (max-width: 750px) {
  .rbc-toolbar {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rbc-toolbar-label {
    order: 5;
    padding: 5px;
    margin: 5px;
    justify-content: center;
  }

  .rbc-btn-group {
    margin: 5px;
  }
}
